.form-container {
  display: flex;
  flex-direction: column;
}

.form-container > * {
  width: 100%;
}

div.title {
  display: flex;
  margin-top: 10px;
}

div.title a {
  margin-left: auto;
}

.commands-container {
  margin-top: 10px;
  width: fit-content;
}

.spinner {
  float: right;
}

.commands-container button {
  margin-right: 10px;
}

#record-preview {
  border: thin solid black;
  overflow: auto;
  max-height: 400px;
}