<div class="title">
  <h1>Settings</h1>

  <a [routerLink]="['']">
    <button mat-raised-button><mat-icon>arrow_back</mat-icon>Back</button>
  </a>
</div>

<form>
    <mat-form-field>
        <mat-label>XSL File to transform MARCXML</mat-label>
        <select matNativeControl #filenameSelected id="xslFiles">
          <option *ngFor="let xslFile of xslFiles; let i = index"
            [value]="xslFiles[i].id"
            [selected]="optionSelected == xslFiles[i].id">
            {{xslFiles[i].name}}
          </option>
        </select>
    </mat-form-field>
    
    <div class="commands-container">
        <button (click)="save(filenameSelected.value)" type="button" mat-stroked-button [disabled]="saving">Save</button>
        <mat-spinner diameter="30" class="spinner" *ngIf="saving"></mat-spinner>
    </div>
</form>

