
  <div class="title">
    <h1>Admin Configuration</h1>

    <a [routerLink]="['']">
      <button mat-raised-button><mat-icon>arrow_back</mat-icon>Back</button>
    </a>
  </div>

  <form>
    <div class="form-container">
      <mat-form-field>
        <mat-label>Short name for the XSL</mat-label>
        <input matInput placeholder="Name your XSL template" [value]="lib_xsl_name_0" (input)="lib_xsl_name_0 = $event.target.value"> 
      </mat-form-field>
      <mat-form-field>
        <mat-label>XSL (enlarge the screen for easy editing)</mat-label>
        <textarea matInput class="xsl-edit" placeholder="Your XSL here" [value]="lib_xsl_val_0" (input)="onXslChanged($event)"></textarea> <!--(change)="runXsl()"-->
      </mat-form-field>
    </div>

    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Preview the generated HTML
          </mat-panel-title>
          <!-- <mat-panel-description>Enlarge the screen for easy editing</mat-panel-description> -->
        </mat-expansion-panel-header>
        <h3>Sample MARCXML (2 records):</h3>
        <textarea matInput class="xml-record" [value]="sampleMarcxml" (input)="onSampleMarcxmlChanged($event)"></textarea>
        <h3>Result:</h3>
        <div id="record-preview" [innerHTML]="formattedRecord"></div>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Pick an XSL file to use as a starting point
          </mat-panel-title>
          <!-- <mat-panel-description>Start with one of the built-in XSLs</mat-panel-description> -->
        </mat-expansion-panel-header>
        <mat-form-field>
          <mat-label>Pick a file to use as a starting point:</mat-label>
          <select matNativeControl #filenameSelected id="xslFiles">
            <option *ngFor="let xslFile of xslFiles; let i = index"
              [value]="xslFiles[i].id">
              {{xslFiles[i].name}}
            </option>
          </select>
        </mat-form-field>
        <button (click)="loadStartingPoint(filenameSelected.value)" type="button" mat-stroked-button>Load</button>
      </mat-expansion-panel>
    </mat-accordion>

    <div class="commands-container">
      <button mat-stroked-button (click)="onSaveBtnClicked()" type="button" [disabled]="saving">Save</button>
      <button mat-stroked-button (click)="onLoadOrReset()" type="button">Reset</button> 
      <mat-spinner diameter="30" class="spinner" *ngIf="saving"></mat-spinner>
    </div>

  </form>


  