<div class="eca-actions">
  <button mat-flat-button color="secondary" (click)="onClearSelected()">Clear</button>
  <button mat-flat-button color="primary" [disabled]="selectedEntities.length == 0" (click)="onPrintPreviewNewTab()">Print {{selectedEntities.length}} records</button>
</div>
<div class="loading-shade" *ngIf="loading">
  <mat-progress-spinner mode="indeterminate" diameter="50"></mat-progress-spinner>
</div>
  <h3>Select record(s) to print:</h3>
  <eca-select-entities #selectEntities
    [(selected)]="selectedEntities"
    [entityTypes]="entityTypes"
    [entities$]="entities$"
  >
  </eca-select-entities>
  <section *ngIf="formattedRecord">
    <p></p>
    <h3>Preview - last selected record:</h3>
    <!--<ul>
      <li><strong>MMS ID: </strong>{{ bib.mms_id }}</li>
      <li><strong>Title: </strong>{{ bib.title }}</li>
    </ul>-->
    <div id="record-preview" [innerHTML]="formattedRecord"></div>
  </section>

<!-- Debug info - for exl_impl -->
<div *ngIf="showDebugWin">
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
<hr/>
Debug:
<section>
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Page Entity</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <pre>{{ pageEntities | json }}</pre>
    </mat-card-content>
  </mat-card>
</section>
<textarea #htmlTextArea [value]="formattedRecord"></textarea>
</div>